*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bt{
    transition: all 1s ease 0s;
    margin: 20px auto;
    width:70%;
    height:30px;
    background-color:lavender;
    cursor:pointer;
}
    .bt p {
        text-align: center;
        font-size: 10pt;
        font-family: "Franklin Gothic";
        line-height: 30px;
        user-select: none;
        text-transform: uppercase;
    }
.bt:hover{
    background-color: lavender;

}
.bt:active{
    background-color:lightsalmon;
}
.container{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
   width:auto;
   height: 1400px;
   background-color:rgb(210, 200, 235);
}

.bLeft{
   
    width: 20%;
   height: auto;
   background-color: lavenderblush;
}
 .bRight{
    
    width: 80%;
   height: auto;
   background-color:rgb(210, 200, 235);
}
.container_info{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
   width:auto;
   height: 600px;
   background-color:rgb(210, 200, 235);
}
.container_min{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
   width:auto;
   height: 50px;
   background-color: lightslategrey;  
}
.container_st{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
   width:auto;
   height: 900px;
   background-color: lavender;  
}
.cell{
    margin:auto;
    width: 30%;
   height: 250px;
   background-color:rgb(210, 200, 235);  
   transition: all 1s ease 0s;
    cursor: pointer;
}
.cell:hover {
    background-color: lightsalmon;
    width: 35%;
    height: 350px;
}

.cell:active {
        background-color: lavender;
    }

    .footer {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70px;
        background-color: lavenderblush;
        
    }
